* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, rgba(178,140,198,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(163,185,198) 100%);
  color: white;
}

.nav-belt {
  overflow: hidden;
  background: rgb(147,141,147);
}

.nav-belt a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
}

.nav-belt a:hover {
  background-color: rgba(163,185,198);
  color: black;
}

.nav-belt a.active {
  color: white;
}

.nav-belt .search-container {
  float: left;
  width: 85%;
}

.nav-belt input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 94%;
}

.nav-belt .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav-belt .search-container button:hover {
  background: #ccc;
}

.nav-belt #logo {
    float: left;
    padding: 5px 6px;
}

.nav-belt #nav-right {
    float: right;
}

@media screen and (max-width: 600px) {
  .nav-belt .search-container {
    float: none;
  }
  .nav-belt a, .nav-belt input[type=text], .nav-belt .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .nav-belt input[type=text] {
    border: 1px solid #ccc;  
  }
}

.search-container {
  margin-top: 0.5rem;
}

.nav-right {
  margin-top: 0.5rem;
}

#nav-logo {
  padding: 5px 10px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

img.footer-logo {
  float: right;
  margin: 1rem;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(178,140,198,1) rgba(163,185,198);
}

#copyright {
  padding-top: 3rem;
  text-align: right;
}

.title {
    text-align: center;
    color: white;
}

.title h1 {
    margin: 1rem 0 3rem 0;
}

.title-logo {
    margin: 1rem;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(178, 140, 198, 1) rgba(163, 185, 198);
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4rem auto 0 auto;
    cursor: pointer;
    background-color: rgb(147,141,147);
    width: 40%;
}
