h1{
    margin-left:38%;
    margin-top:10%;
}

form {
    background: white;
    border: 2px solid silver;
    padding:5px;
    margin-left:38%;
    margin-right:38%;
}

body{
    background: linear-gradient(90deg, rgba(178,140,198,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(163,185,198) 100%);
}

input {
    width: 100%;
    display: inline-block;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px 0;
}

.check{
    width:10%
}

.forgot{
    text-align: right;
    float:right;
}

button {
    background-color:rgba(199, 15, 55, 0.774);
    color: white;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
}

button:hover{
    opacity: 0.9;
}




